{
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": 0,
    "semi": ["error", "always"]
  },
  "globals": {
    "window": true,
    "define": true,
    "module": true,
    "DO": true,
    "TimelineMax": true,
    "TweenMax": true,
    "Expo": true,
    "Power0": true,
    "Elastic": true,
    "Back": true,
    "ScrollMagic": true,
    "Draggable": true,
    "Flickity": true,
    "Cookies": true,
    "Layzr": true,
    "$": true,
    "analytics": true,
    "Mailcheck": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
